@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-jetbrainMono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-jetbrainMono);
  background-color: #1c1c22;
}

